[defaults]
collections_path =/home/rhel/lab_EX374/collections

roles_path = /home/rhel/lab_EX374/roles

inventory =/home/rhel/lab_EX374/inventory.py

ask_pass=False

#fork=5
#gathering=explicit

host_key_checking=False

[privilege_escalation]
# (boolean) Toggles the use of privilege escalation, allowing you to 'become' another user after login.
become=True
# (boolean) Toggle to prompt for privilege escalation password.
become_ask_pass=False

[galaxy]
server_list = published

[galaxy_server.published]
url=http://127.0.0.1:8002/api/automation-hub/
token=06d5fb0088443210027468632a340215366ed8a1
